[Unit]
Description=Olinuxino Expand Root Partition
Before=basic.target
After=sysinit.target local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/lib/olinuxino/olinuxino-expand
RemainAfterExit=True

[Install]
WantedBy=basic.target