.olimex: &olimex
  - olinuxino-overlays
  - u-boot-olinuxino
  - u-boot-tools-olinuxino
  - olinuxino-tools

# Release specific packages
releases:
  bionic:
    minimal:
      - linux-firmware
    base:
      - adwaita-icon-theme-full
      - chromium-browser
      - mirage
  focal:
    minimal:
      - linux-firmware
    base:
      - adwaita-icon-theme-full
      - firefox
      - eom
  buster:
    minimal:
      - firmware-ralink
      - firmware-realtek
    base:
      - chromium
      - mirage

variants:
  minimal:
    description: "Minimal filesystem"
    packages:
      - alsa-utils
      - bc
      - can-utils
      - cpufrequtils
      - crda
      - debconf-utils
      - device-tree-compiler
      - dialog
      - fake-hwclock
      - gdisk
      - gpiod
      - htop
      - i2c-tools
      - ifupdown
      - initramfs-tools
      - lsof
      - man-db
      - mmc-utils
      - mtd-utils
      - nano
      - ncdu
      - netcat-openbsd
      - net-tools
      - network-manager
      - nocache
      - openssh-server
      - parted
      - psmisc
      - resolvconf
      - rsync
      - screen
      - ssh
      - sudo
      - sysfsutils
      - sysstat
      - tmux
      - tree
      - ucf
      - usbutils
      - wget
      - wireless-regdb
      - wireless-tools
      - *olimex

  base:
    description: "Desktop filesystem"
    packages:
      - adwaita-icon-theme
      - aptitude
      - apt-xapian-index
      - atril
      - automake
      - avahi-autoipd
      - bash-completion
      - bridge-utils
      - build-essential
      - cups
      - cups-pk-helper
      - curl
      - dbus-x11
      - dnsutils
      - dosfstools
      - ethtool
      - evtest
      - f3
      - fbi
      - fbset
      - ffmpeg
      - galculator
      - gcr
      - geany
      - git
      - gnome-keyring
      - gnome-orca
      - gnupg2
      - gtk2-engines
      - gtk2-engines-murrine
      - gtk2-engines-pixbuf
      - gvfs-backends
      - gvfs-fuse
      - hdparm
      - hexchat
      - hunspell-en-gb
      - hyphen-en-gb
      - ifenslave
      - iotop
      - iozone3
      - iperf3
      - iputils-arping
      - libgl1-mesa-dri
      - libnss-myhostname
      - libpam-gnome-keyring
      - libpam-systemd
      - lightdm
      - lightdm-gtk-greeter
      - lxtask
      - mpv
      - network-manager-gnome
      - network-manager-openvpn-gnome
      - ntfs-3g
      - numix-gtk-theme
      - numix-icon-theme
      - onboard
      - p11-kit
      - paprefs
      - pasystray
      - pavucontrol
      - pavumeter
      - pciutils
      - profile-sync-daemon
      - pulseaudio
      - pv
      - qrencode
      - rfkill
      - software-properties-common
      - stress
      - sunxi-tools
      - synaptic
      - system-config-printer
      - system-config-printer-common
      - thunar-volman
      - unattended-upgrades
      - unicode-data
      - unzip
      - vim
      - vlan
      - vlc
      - wamerican
      - wbritish
      - x11-xserver-utils
      - xarchiver
      - xfce4
      - xfce4-goodies
      - xfce4-notifyd
      - xfce4-power-manager
      - xfce4-screenshooter
      - xfce4-terminal
      - xfonts-base
      - xinit
      - xinput-calibrator
      - xserver-xorg
      - xserver-xorg-video-fbdev

  full:
    packages:
      - avahi-daemon
      - kazam
      - libreoffice
      - libreoffice-style-tango
      - meld
      - remmina
      - thunderbird
      - transmission
